<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.edwardstock.multipicker"
    >

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        >
        <activity
            android:name=".picker.ui.DirsActivity"
            android:theme="@style/mp_AppTheme"/>
        <activity
            android:name=".picker.ui.FilesActivity"
            android:theme="@style/mp_AppTheme"/>
        <activity
            android:name=".picker.ui.PreviewerActivity"
            android:theme="@style/mp_Dark"/>

        <provider
            android:name=".internal.MultiPickerFileProvider"
            android:authorities="${applicationId}.multipicker.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/multi_picker_provider_paths"/>
        </provider>
    </application>
</manifest>
